<!-- <ion-header>
  <ion-toolbar>
    <ion-title  dir="rtl">قائمة التبرعات</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen=true>
  <ion-grid fixed class="ion-no-padding">
  
   <ion-row style="height: 50px"></ion-row>
<form #form="ngForm"(ngSubmit)="register(form)" method="post" >
  <div class="login-form">
      <ion-list class="ion-margin-top ion-padding">
      <ion-text color="dark" class ='select'>
          <h3 dir="rtl"  class="ion-margin-bottom main-header7 color-dark-page">
            أثاث
            <select  [(ngModel)]="donations_info.furniture">
              <option value="bed">أسرة </option>
              <option value="Couch">كنب</option>
              <option value="board">مجلس</option>
              <option value="chair">كرسي</option>
              <option value="table">طاولة</option>
              <option value="abjoura">أبجورة</option>
              <option value="artificial_flowers">ورد صناعي </option>
              <option value="Clothes_hanger">شماعة ملابس </option>
              <option value="Cupboards"> دواليب </option>
              <option value="Kitchens">مطابخ </option>
              <option value="Mattress">مرتبة سرير</option>
              <option value="Rests"> مساند</option>
              <option value="Wall_hangings">معلقات جدارية</option>
              <option value="Ladder"> سلم صعود </option>
              <option value="Bedrooms">غرفة نوم</option>
              <option value="sofa">أريكة</option>
              <option value="Dining table">طاولة طعام </option>
              <option value="Coffee_table">طاولة قهوة</option>
              <option value="TV_table">طاولة تلفزيون</option>
              <option value="Side_tables">طاولات جانبية </option>
              <option value="Brush">فرشة</option>
              <option value="Felt_bed">لباد سرير</option>
              <option value="Pillows">مخدات</option>
              <option value="other">أخرى</option>
            </select>
          </h3>
        </ion-text> 
         <ion-item >
            <ion-input  dir="rtl" ngModel name="donation.furniture" placeholder="النوع"></ion-input>
            <select name="furniture" id="furniture">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </ion-item> -->
          <!-- <ion-text color="dark">
              <h3 dir="rtl" text-center class="ion-margin-bottom main-header7 color-dark-page">
               متفرقات 
              </h3>
            </ion-text>
              <ion-item class="roundedInput8px margin-bottom-10 color-light-page">
                <ion-input  dir="rtl"  [(ngModel)]="donations_info.clothes" placeholder="النوع"></ion-input>
              </ion-item>
          </ion-list>
          <ion-button  (click)="donationsModal()" mode="ios" expand="block"  color="green" fill="outline" class="ion-margin-top" >
             ارسال
            </ion-button>
      </div> 
      </form>
  </ion-grid> -->
<!-- </ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-title  dir="rtl">قائمة التبرعات</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen=true>
 
    <ion-list>
      <ion-select ngModel name ="furniture">
        <ion-select-option value="bed">أسرة </ion-select-option>
        <ion-select-option value="Couch">كنب</ion-select-option>
        <ion-select-option value="board">مجلس</ion-select-option>
        <ion-select-option value="chair">كرسي</ion-select-option>
        <ion-select-option value="table">طاولة</ion-select-option>
        <ion-select-option value="abjoura">أبجورة</ion-select-option>
        <ion-select-option value="artificial_flowers">ورد صناعي </ion-select-option>
        <ion-select-option value="Clothes_hanger">شماعة ملابس </ion-select-option>
        <ion-select-option value="Cupboards"> دواليب </ion-select-option>
        <ion-select-option value="Kitchens">مطابخ </ion-select-option>
        <ion-select-option value="Mattress">مرتبة سرير</ion-select-option>
        <ion-select-option value="Rests"> مساند</ion-select-option>
        <ion-select-option value="Wall_hangings">معلقات جدارية</ion-select-option>
        <ion-select-option value="Ladder"> سلم صعود </ion-select-option>
        <ion-select-option value="Bedrooms">غرفة نوم</ion-select-option>
        <ion-select-option value="sofa">أريكة</ion-select-option>
        <ion-select-option value="Dining table">طاولة طعام </ion-select-option>
        <ion-select-option value="Coffee_table">طاولة قهوة</ion-select-option>
        <ion-select-option value="TV_table">طاولة تلفزيون</ion-select-option>
        <ion-select-option value="Side_tables">طاولات جانبية </ion-select-option>
        <ion-select-option value="Brush">فرشة</ion-select-option>
        <ion-select-option value="Felt_bed">لباد سرير</ion-select-option>
        <ion-select-option value="Pillows">مخدات</ion-select-option>
        <ion-select-option value="other">أخرى</ion-select-option>
      </ion-select>
      <ion-item >
        <ion-input  dir="rtl"  ngModel name="clothes" placeholder="النوع"></ion-input>
      </ion-item>

  </ion-list>
  <ion-button  (click)="donationModal()" mode="ios" expand="block"  color="green" fill="outline" class="ion-margin-top" >
      ارسال
  </ion-button>
</ion-content>
 